// 
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:wght@400;700&display=swap');

$f-n : 16px;
$f-nb: 18px;

//  COLORS 

$gold-light: #F2CA46;
$gold-right: #F0A500;
$black : #000;
$blackl: #131313;
$smoke : whitesmoke;


// FONTS 

$lyxe : 'Bellefair', serif;
$quattro: 'Quattrocento Sans', sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    max-width: 1920px;
    margin: 0 auto;
}

body{
    background: black;
    
}

img{
    user-select: none;
}

header{
    width: 100%;
}


nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    padding: 20px;
    display: flex;
    z-index: 99;

    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.4px);
    -webkit-backdrop-filter: blur(13.4px);
}

a{
    text-decoration: none;
    color: inherit;
    &:visited{
        color: inherit;
    }
}

.nav-links{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    font-family: $lyxe;
    font-weight: 500;
    color: $gold-light;
    font-size: $f-nb;

    ul{
    
        display: flex;
        width: 70%;
        height: 100%;
        list-style-position: inside;
        justify-content: space-between;
        align-items: flex-end;
     
        list-style: none;
        align-self: center;  
        li{
            cursor: pointer;
            position: relative;
            padding: .2 .5rem;
          
        }
    }
}

.hoverunder{
    display: inline-block;
    padding-bottom: 2px;
    background-image: linear-gradient($gold-light, $gold-right);
    background-position: 0 100%;
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition: background-size .3s, 
    background-position 0s .3s;

    &:hover{
        background-position: 100% 100%;
        background-size: 100% 2px;
    }
}


footer{
    background: $blackl;
    height: 100px;
    color: $smoke;
    font-family: $quattro;
    font-size: 18px;
    text-align: center;
}