@import './font/fonts';
@import './components/introduction';


*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




body, html{
    max-width: 2500px;
    background: #000;
    font-size: 62.5%;
}

main {

}

h1 , h2 ,h3{
    color: whitesmoke;
    font-size: 3rem;
}

p{
    color: whitesmoke;
    font-family: $sub-regular;
    font-size: 2rem;
}

a{
    text-underline-offset: 5px;
    font-size: 2rem;

    &:visited{
        color: whitesmoke;
    }

    &:not(:visited){
        color: whitesmoke;
    }

    
}

