

@media screen and (min-width: 0px){
    #navheader{
        z-index: 11;
        width: 100%;
        height: 100%;
        min-width: 320px;
        min-height: fit-content;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        background: rgb(0, 0, 0, .7);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6.9px);
        -webkit-backdrop-filter: blur(6.9px);

        .mobile-menu{
            background: rgba(0, 0, 0, 0.7);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(6.9px);
            -webkit-backdrop-filter: blur(6.9px) ;
            position: absolute;
            width: 100%;

        }

        #mobile-nav{
            height: fit-content;
            min-height: 100%;
            .menu-holder{
                text-align: center;
                padding-top: .5rem;
                h2{
                    display: inline-block;
                    font-family: $bell;
                    font-size: 28px !important;
                    padding-bottom: .5rem;
                }
                .gold-bar{
                    width: 80%;
                    max-width: 768px;
                    height: 2px;
                    margin-inline: auto;
                    background: linear-gradient(to right, $gold-light, $gold);
                }
            }

            ul{
                width: 100%;
                height: 100%;
              
                li{
                    width: 100%;
                    text-align: center;
                    padding: 1rem;
                    font-size: 22px;
                    font-family: $bell;
                    z-index: 10;
                }
            }
        }
    }

    #nav{
        width: 100%;
        height: 50px;
        display: flex;
        padding-inline: 10px;
        overflow-x: hidden;
        overflow-y: hidden;
        .logo-nav{
            width: 100px;
            object-fit: contain;
            cursor: pointer;
            user-select:none;
        }

        ul{
            display: none;
            
        }

        .menu-burger{
            display: flex;
            
            width: 100%;
            justify-content: end;
           
            .line-container{
                // border: 2px solid white;
                width: 50px;
                cursor: pointer;
                position: relative;
                .line-long{
                    position: absolute;
                    width: 45px;
                    height: 2px;
                    right: 1px;
                    background: white;
                    bottom: 10px;
                    rotate: 180deg;
                    &:nth-child(1){
                        bottom: 25px;
                    }
                }
            }
        }
    }
}

.hide{
    // display: none;
    animation: hideMobileNav .4s forwards;
}

.show{
    display: block;
    animation: showMobileNav .4s forwards;
}

.hide-menu-burger{
    display: none;
    opacity: 0;
    animation: hideMenuBurger .4s ease-in forwards;
}

@keyframes hideMenuBurger{
    to{
        display: none;
        opacity: 0;
    }
}

@keyframes showMobileNav{
    from{
        transform: translateY(-400px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
    
}

@keyframes hideMobileNav{
    from{
        transform: translateY(0px);
        opacity: 1;
    }

    to {
        transform: translateY(-400px);
        opacity: 0;
    }
}

.normal-menu{
    &:nth-child(1){
        animation: transformToUpper .4s forwards;
    }
    &:nth-child(2){
        animation: transformToDown .4s forwards;
    }
}

.x-menu-from{
    &:nth-child(1){
        animation: transformUpper .4s forwards;
        
    }
    &:nth-child(2){
        animation: transformDown .4s forwards;
     
    }
}



// transform to normal menu
@keyframes transformToUpper{
    from {
        transform: rotate(130deg);
        translate: 15px 0px ;
        right: 20px;
        width: 25px;
        background: linear-gradient( $gold-light, $gold);
    }
    to{
        transform: rotate(360deg);
        translate: 0px;
        right: 1px;
        width: 45px;
    }
}
// tranforms to normal menu
@keyframes transformToDown{
    from {
        transform: rotate(230deg);
        translate: 15px -15px;
        right: 20px;
        width: 25px;
        background: linear-gradient( $gold-light, $gold);
    }
    
    to{
        transform: rotate(360deg);
        translate: 0px 0px;
        right: 1px;
        width: 45px;
    }
}

// transform to x
@keyframes transformUpper{
    to{
        transform: rotate(130deg);
        translate: 15px 0px ;
        right: 20px;
        width: 25px;
        background: linear-gradient( $gold-light, $gold);
    }
}
// transforms to x
@keyframes transformDown{
    to{
        transform: rotate(230deg);
        translate: 15px -15px;
        right: 20px;
        width: 25px;
        background: linear-gradient( $gold-light, $gold);
    }
}






//  Mobile: 360 x 640
@media screen and (min-width: 360px){
   
}

// Mobile: 375 x 667 / iPhone X: 375 x 812
@media screen and (min-width: 375px){

}


// Pixel 2: 411 x 731
@media screen and (min-width: 441px){
}
// Tablet: 768 x 1024
@media screen and (min-width: 768px){
   
header{
   display: grid;
   height: 90px;
   align-content: center;
   
}

    #nav{
        width: 100%;
        max-width: 1270px;
        margin-inline: auto;
        height: 100%;

        .logo-nav{
            width: 140px;
            flex: 1;
        }

        .menu-burger{
            display: none;
        }

        ul{
            opacity: 1;
            display: flex;
            width: 100%;
            justify-content: space-around;
            align-items: flex-end;
        
            li{
                font-size: 18px;
                text-align: center;
               
                    a{
                        padding-inline: 10px;
                        letter-spacing: 1.2px;
                    }
            }
        }
    }
}


@media screen and (max-width: 1270px){
    
}


//  Laptop: 1366 x 768
@media screen and (min-width: 1366px){

}
// High-res laptop or desktop: 1920 x 1080
@media screen and (min-width: 1920px){


}

