<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lorans Barbershop: Kapper Nieuw-Vennep</title>
    <link rel="stylesheet" href="../css/main.css" type="text/css" />
    <script defer src="../js/script.js"></script>
</head>
<body>
  <%- include('./compounds/nav')  %> 
  <!-- MAIN -->
  <main>
    
    <!-- INTRO -->
    <div class="container intro-style ">
      <div class="intro-img">
        <figure>
          <img draggable="false" class="img-intro noSelect" src="../assets/images/modelmen.png" alt="Man Zelfverzekerd Mooi Haar Strak in Pak Succes Bereid" />
        </figure>
      </div>
      <section  id="intro">
        <h1>LOREM BARBERISTA</h1>
        
        <div class="gold-bar"></div>
        
        <p>Lorem ipsum dolor sit amet consectetur Id iure voluptas magnam et minus tenetur possimus qui officiis dolores iusto quas, nemo beatae odit alias consequatur assumenda dicta recusandae repellendus. Obcaecati tempore natus maxime voluptates eos?</p>
        <div class="cta-learn">
          <a href="/over">Meer Over Lorans Barbershop</a>
        </div>
      </section>
    </div>
    <!-- ! INTRO ! -->

      <!-- REVIEWS -->
    <div class="container reviews-style">
      <section id="reviews">
        <!-- TODO : FILL  -->
      </section>
    </div>
    <!-- REVIEWS ! -->

    <!-- SHOWCASE -->
    <section class="container" id="showcase">
      <div class="showcase-heading">
        <h2>Onze kunst</h2>
        <div class="gold-bar"></div>
      </div>
      <div class="article-cut">

        <!-- CUT 1 -->
        <article class="article cut-one">
          <figure>
            <img src="https://unsplash.it/200/200" />
          </figure>

          <header>
            <h2>Lorem1</h2>
          </header>
          <div class="gold-bar"></div>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum voluptatibus libero quibusdam eius incidunt consequatur? Voluptatem.</p>
        </article>
        <!-- CUT 2 -->
        <article class="article cut-one">
          <figure>
            <img src="https://unsplash.it/200/200" />
          </figure>

          <header>
            <h2>Lorem1</h2>
          </header>
          <div class="gold-bar"></div>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum voluptatibus libero quibusdam eius incidunt consequatur? Voluptatem.</p>
        </article>
        
        <!-- CUT 3 -->
        <article class="article cut-one">
          <figure>
            <img src="https://unsplash.it/200/200" />
          </figure>

          <header>
            <h2>Lorem1</h2>
          </header>
          <div class="gold-bar"></div>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum voluptatibus libero quibusdam eius incidunt consequatur? Voluptatem.</p>
        </article>
      </div>
    </section>

    <!-- !SHOWCASE ! -->
  </main>   
  <!-- ! MAIN !  -->
<footer>

</footer>
</body>

</html>