@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$quattro: 'Quatrtrocento Sans', sans-serif;
$bell : 'Bellefair', sans-serif;


$fm-s: 18px;
$fm-b: 28px;

// COLORS
$black : #000;
$black1: #1C1C1C;
$grey: #3B3B3B;
$yellow-bright: #FFE002;
$gold-light: #FFB606;
$gold : #B28228;

body{
   background: $black;
}



h1, h2, h3, h4, p, a, span, li{
    color: white;
    font-weight: 400;
    font-family: $quattro;
}
p{
    font-family: $quattro !important;
}
a {
    text-decoration: none;
    color: white;
    font-family: $bell;
    &:visited{
        color: white;
    }
}

.cta-book{
    color: $gold-light !important;
}

ul{
    text-decoration-line: none;
    list-style: none;
    
}

.noTransition{
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.hide-initial{
    display: none;
}

.gold-bar{
    height: 2px;
    margin-block: 5px;
    background: linear-gradient($gold-light, $gold);
}

main{
    width: 100%;
}
// disable blue background onClick
.noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.noSelect:focus {
    outline: none !important;
}