@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #000;
}

h1, h2, h3, h4, p, a, span, li {
  color: white;
  font-weight: 400;
  font-family: "Quattrocento Sans", sans-serif;
}

p {
  font-family: "Quattrocento Sans", sans-serif !important;
}

a {
  text-decoration: none;
  color: white;
  font-family: "Bellefair", sans-serif;
}
a:visited {
  color: white;
}

h2 {
  font-size: 20px;
}

span {
  font-family: "Quattrocento Sans", sans-serif;
}

.cta-book {
  color: #FFB606 !important;
}

ul {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  list-style: none;
}

.noTransition {
  transition: none !important;
}

.hide-initial {
  display: none;
}

.gold-bar {
  height: 2px;
  margin-block: 5px;
  background: linear-gradient(#FFB606, #B28228);
}

main {
  width: 100%;
}

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.noSelect:focus {
  outline: none !important;
}

@media screen and (min-width: 0px) {
  .container {
    width: 100%;
    padding: 10px;
    min-width: 320px;
    z-index: 2;
  }
  .intro-style {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 250px 1fr;
  }
  .intro-style .intro-img {
    text-align: center;
  }
  .intro-style .intro-img .img-intro {
    width: 100%;
    max-width: 250px;
    z-index: 2;
  }
  .intro-style #intro {
    font-size: 18px;
    transform: translateY(-50px);
  }
  .intro-style #intro p {
    min-height: 150px;
  }
  .intro-style #intro .cta-learn {
    display: inline;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 320px;
  }
  .intro-style #intro .cta-learn a {
    padding: 20px;
    border: 2px solid #B28228;
    font-size: 20px;
  }
  #reviews {
    width: 100%;
    background: #B28228;
    height: 100px;
  }
  #showcase {
    width: 100%;
  }
  #showcase .showcase-heading {
    text-align: right;
  }
  #showcase .article-cut .article {
    text-align: center;
  }
  #showcase .article-cut .article figure {
    position: relative;
  }
  #showcase .article-cut .article figure .cut-img {
    width: 250px;
    z-index: 5;
  }
  #showcase .article-cut .article figure::before {
    content: "";
    position: absolute;
    width: 250px;
    height: 70px;
    background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0.85));
    filter: blur(0.2px);
    bottom: 0;
  }
  #showcase .article-cut .article .cut-text {
    transform: translateY(-40px);
    margin-inline: auto;
  }
  #carousel h2 {
    font-size: 20px;
    text-align: center;
  }
  #carousel h2 a {
    font-family: "Quattrocento Sans", sans-serif;
    color: #FFB606;
    text-decoration: underline;
  }
  #openinghours .opening-container {
    padding-top: 10px;
    background: #B28228;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  #openinghours .opening-container .day {
    text-align: center;
  }
  #openinghours .opening-container .day span {
    color: #000;
    padding-left: 7px;
  }
  #openinghours .opening-container .day .line {
    margin-top: 15px;
    width: 100%;
    height: 3px;
    background: black;
    position: relative;
  }
  #openinghours .opening-container .day-monday .line {
    width: 50%;
    margin-left: 50%;
  }
  #openinghours .opening-container .day-monday .line::before {
    content: "";
    width: 7px;
    border-radius: 50%;
    background: black;
    height: 7px;
    position: absolute;
    bottom: -2px;
    left: 0px;
  }
  #openinghours .opening-container .day-tuesday .line::before {
    content: "";
    width: 7px;
    border-radius: 50%;
    background: black;
    height: 7px;
    position: absolute;
    bottom: -2px;
    left: 50%;
  }
  #openinghours .opening-container .day-wednesday .line::before {
    content: "";
    width: 7px;
    border-radius: 50%;
    background: black;
    height: 7px;
    position: absolute;
    bottom: -2px;
    left: 50%;
  }
}
@media screen and (min-width: 0px) {
  #navheader {
    z-index: 11;
    width: 100%;
    height: 100%;
    min-width: 320px;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.9px);
    -webkit-backdrop-filter: blur(6.9px);
  }
  #navheader .mobile-menu {
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.9px);
    -webkit-backdrop-filter: blur(6.9px);
    position: absolute;
    width: 100%;
  }
  #navheader #mobile-nav {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 100%;
  }
  #navheader #mobile-nav .menu-holder {
    text-align: center;
    padding-top: 0.5rem;
  }
  #navheader #mobile-nav .menu-holder h2 {
    display: inline-block;
    font-family: "Bellefair", sans-serif;
    font-size: 28px !important;
    padding-bottom: 0.5rem;
  }
  #navheader #mobile-nav .menu-holder .gold-bar {
    width: 80%;
    max-width: 768px;
    height: 2px;
    margin-inline: auto;
    background: linear-gradient(to right, #FFB606, #B28228);
  }
  #navheader #mobile-nav ul {
    width: 100%;
    height: 100%;
  }
  #navheader #mobile-nav ul li {
    width: 100%;
    text-align: center;
    padding: 1rem;
    font-size: 22px;
    font-family: "Bellefair", sans-serif;
    z-index: 10;
  }
  #nav {
    width: 100%;
    height: 50px;
    display: flex;
    padding-inline: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  #nav .logo-nav {
    width: 100px;
    -o-object-fit: contain;
       object-fit: contain;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  #nav ul {
    display: none;
  }
  #nav .menu-burger {
    display: flex;
    width: 100%;
    justify-content: end;
  }
  #nav .menu-burger .line-container {
    width: 50px;
    cursor: pointer;
    position: relative;
  }
  #nav .menu-burger .line-container .line-long {
    position: absolute;
    width: 45px;
    height: 2px;
    right: 1px;
    background: white;
    bottom: 10px;
    rotate: 180deg;
  }
  #nav .menu-burger .line-container .line-long:nth-child(1) {
    bottom: 25px;
  }
}
.hide {
  -webkit-animation: hideMobileNav 0.4s forwards;
          animation: hideMobileNav 0.4s forwards;
}

.show {
  display: block;
  -webkit-animation: showMobileNav 0.4s forwards;
          animation: showMobileNav 0.4s forwards;
}

.hide-menu-burger {
  display: none;
  opacity: 0;
  -webkit-animation: hideMenuBurger 0.4s ease-in forwards;
          animation: hideMenuBurger 0.4s ease-in forwards;
}

@-webkit-keyframes hideMenuBurger {
  to {
    display: none;
    opacity: 0;
  }
}

@keyframes hideMenuBurger {
  to {
    display: none;
    opacity: 0;
  }
}
@-webkit-keyframes showMobileNav {
  from {
    transform: translateY(-400px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes showMobileNav {
  from {
    transform: translateY(-400px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes hideMobileNav {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    transform: translateY(-400px);
    opacity: 0;
  }
}
@keyframes hideMobileNav {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    transform: translateY(-400px);
    opacity: 0;
  }
}
.normal-menu:nth-child(1) {
  -webkit-animation: transformToUpper 0.4s forwards;
          animation: transformToUpper 0.4s forwards;
}
.normal-menu:nth-child(2) {
  -webkit-animation: transformToDown 0.4s forwards;
          animation: transformToDown 0.4s forwards;
}

.x-menu-from:nth-child(1) {
  -webkit-animation: transformUpper 0.4s forwards;
          animation: transformUpper 0.4s forwards;
}
.x-menu-from:nth-child(2) {
  -webkit-animation: transformDown 0.4s forwards;
          animation: transformDown 0.4s forwards;
}

@-webkit-keyframes transformToUpper {
  from {
    transform: rotate(130deg);
    translate: 15px 0px;
    right: 20px;
    width: 25px;
    background: linear-gradient(#FFB606, #B28228);
  }
  to {
    transform: rotate(360deg);
    translate: 0px;
    right: 1px;
    width: 45px;
  }
}

@keyframes transformToUpper {
  from {
    transform: rotate(130deg);
    translate: 15px 0px;
    right: 20px;
    width: 25px;
    background: linear-gradient(#FFB606, #B28228);
  }
  to {
    transform: rotate(360deg);
    translate: 0px;
    right: 1px;
    width: 45px;
  }
}
@-webkit-keyframes transformToDown {
  from {
    transform: rotate(230deg);
    translate: 15px -15px;
    right: 20px;
    width: 25px;
    background: linear-gradient(#FFB606, #B28228);
  }
  to {
    transform: rotate(360deg);
    translate: 0px 0px;
    right: 1px;
    width: 45px;
  }
}
@keyframes transformToDown {
  from {
    transform: rotate(230deg);
    translate: 15px -15px;
    right: 20px;
    width: 25px;
    background: linear-gradient(#FFB606, #B28228);
  }
  to {
    transform: rotate(360deg);
    translate: 0px 0px;
    right: 1px;
    width: 45px;
  }
}
@-webkit-keyframes transformUpper {
  to {
    transform: rotate(130deg);
    translate: 15px 0px;
    right: 20px;
    width: 25px;
    background: linear-gradient(#FFB606, #B28228);
  }
}
@keyframes transformUpper {
  to {
    transform: rotate(130deg);
    translate: 15px 0px;
    right: 20px;
    width: 25px;
    background: linear-gradient(#FFB606, #B28228);
  }
}
@-webkit-keyframes transformDown {
  to {
    transform: rotate(230deg);
    translate: 15px -15px;
    right: 20px;
    width: 25px;
    background: linear-gradient(#FFB606, #B28228);
  }
}
@keyframes transformDown {
  to {
    transform: rotate(230deg);
    translate: 15px -15px;
    right: 20px;
    width: 25px;
    background: linear-gradient(#FFB606, #B28228);
  }
}
@media screen and (min-width: 768px) {
  #navheader {
    display: grid;
    height: 90px;
    align-content: center;
  }
  #nav {
    width: 100%;
    max-width: 1270px;
    margin-inline: auto;
    height: 100%;
  }
  #nav .logo-nav {
    width: 140px;
    flex: 1;
  }
  #nav .menu-burger {
    display: none;
  }
  #nav ul {
    opacity: 1;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: flex-end;
  }
  #nav ul li {
    font-size: 18px;
    text-align: center;
  }
  #nav ul li a {
    padding-inline: 10px;
    letter-spacing: 1.2px;
  }
}
@media screen and (min-width: 360px) {
  .card-carousel {
    padding-top: 20px;
  }
  .card-carousel .swiper {
    min-width: 360px;
  }
  .card-carousel .swiper .swiper-wrapper .swiper-slide {
    text-align: center;
  }
  .card-carousel .swiper .swiper-wrapper .swiper-slide .cut-img {
    width: 300px;
  }
  .card-carousel .swiper .swiper-pagination-bullet-active {
    background: #B28228 !important;
  }
}/*# sourceMappingURL=main.css.map */