


@font-face {
    font-family: 'Timeless', sans-serif;
    src: url('../../font/timeless/Timeless.ttf') format("ttf");
}

@font-face {
    font-family: 'Timeless-Bold', sans-serif;
    src: url(../../font/timeless/Timeless-Bold.ttf) format("ttf");
}



@font-face{
    font-family: 'DMSans-Regular';
    src: url(../../font/dm_sans/DMSans-Regular.ttf);
}





$chiq: 'Timeless';
$chiq-bold: 'Timeless-Bold';

$sub-regular: 'DMSans-Regular'