<header id="navheader">
    <nav id="nav">
        <img draggable="false" class="logo-nav noSelect" title="Lorans Barbershop Kapper Nieuw-Vennep kapper nv logo" alt="Logo Lorans Barbershop Foto" src="../assets/images/lorns_logo_white.png"/>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/over">OVER</a></li>
            <li><a href="/tarieven">TARIEVEN</a></li>
            <li><a href="/contact">CONTACT</a></li>
            <li><a class="cta-book" href="/contact">BOEK NU</a></li>
        </ul>
        <div class="menu-burger">
            <div class="line-container noSelect">
                <div class="line-long"></div>
                <div class="line-long"></div>
            </div>
        </div>
    </nav>

    <div class="mobile-menu hide-initial">
        <nav id="mobile-nav">
            <div class="menu-holder">
                <h2>Menu</h2>
                <div class="gold-bar"></div>
            </div>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/over">OVER</a></li>
                <li><a href="/tarieven">TARIEVEN</a></li>
                <li><a href="/contact">CONTACT</a></li>
                <li><a class="cta-book" href="/contact">BOEK NU</a></li>
            </ul>
        </nav>
    </div>
    
</header>