<header>
    <nav id="nav">
        <img class="logo-nav" title="Lorans Barbershop Kapper Nieuw-Vennep kapper nv logo" alt="Logo Lorans Barbershop Foto" src="../assets/images/lorns_logo_white.png"/>
        <ul>
            <li>
                <a href="/over">Over</a>
            </li>
        </ul>
        <div class="menu-burger">
            <div class="line-container">
                <div class="line-long"></div>
                <div class="line-long"></div>
            </div>
        </div>
    </nav>

    <div class="mobile-menu">
        YO
    </div>
</header>